/*********************************************
* Stripboard background
*/

svg.stripboard g.background {
    transform: translate(20px, 20px);
}

svg.stripboard g.background > rect {
    /* fill: #f7e2bc; */
    fill: #788f26;
}

/*********************************************
* Stripboard rulers
*/

svg.stripboard g.rulers g.horizontal-ruler {
    transform: translate(20px, 0);
}

svg.stripboard g.rulers g.vertical-ruler {
    transform: translate(0, 20px);
}

svg.stripboard g.rulers path {
    stroke: black;
    stroke-width: 2.0;
}

/*********************************************
* Legend
*/

svg.stripboard g.legend {
    cursor: default;
}

svg.stripboard g.legend > rect.background {
    fill: #b6b6b6;
}

svg.stripboard g.legend text {
	fill: black;
	font-family: "Arial";
	font-size: 14px;
}


/*********************************************
* Stripboard strips
*/

svg.stripboard g.strip > rect {
    fill: gold;
}

svg.stripboard g.strip g.holes > circle {
    fill: black;
}

svg.stripboard g.strip g.cuts > path {
    stroke: darkred;
    stroke-width: 7.0;
    opacity: 0.8;
}


/**********************************************
* Wires
*/

svg.stripboard g.wires {
    transform: translate(20px, 20px);
}

svg.stripboard g.wires g.wire > circle {
    fill: blue;
    stroke: blue;
    stroke-width: 2;
}

svg.stripboard g.wires g.wire > path {
    stroke: blue;
    stroke-width: 4.0;
	fill: none;
}


/**********************************************
* Components
*/

svg.stripboard g.components {
    transform: translate(20px, 20px);
}

svg.stripboard g.components text.label {
	fill: #dddddd;
	font-family: monospace;
	font-size: 14px;
	font-weight: bold;
	text-anchor: middle;
	text-shadow: 1px 1px #444444;
	display: none;
}

svg.stripboard g.components g:hover > text.label {
	display: block;
}


/**********************************************
* Capacitors
*/

svg.stripboard g.components g.capacitor > circle {
    fill: green;
    stroke: green;
    stroke-width: 2;
}

svg.stripboard g.components g.capacitor > path.wire {
    stroke: gray;
    stroke-width: 5.0;
    stroke-linecap: round;
}

svg.stripboard g.components g.capacitor > path.capacitor-body {
    stroke: orange;
    stroke-width: 13.0;
    stroke-linecap: round;
}


/**********************************************
* Diodes
*/

svg.stripboard g.components g.diode > circle {
    fill: green;
    stroke: green;
    stroke-width: 2;
}

svg.stripboard g.components g.diode > path.wire {
    stroke: gray;
    stroke-width: 5.0;
    stroke-linecap: round;
}

svg.stripboard g.components g.diode > path.diode-body {
    stroke: #444444;
    stroke-width: 8.0;
    stroke-linecap: square;
}


/**********************************************
* LEDs
*/

svg.stripboard g.components g.led > circle {
    fill: green;
    stroke: green;
    stroke-width: 2;
}

svg.stripboard g.components g.led > path.wire {
    stroke: gray;
    stroke-width: 5.0;
    stroke-linecap: round;
}

svg.stripboard g.components g.led > circle.led-body {
    fill: red;
    stroke: darkred;
    opacity: 0.7;
    stroke-width: 6;
}


/**********************************************
* Header
*/

svg.stripboard g.components g.header > path {
    stroke: #444444;
    opacity: 0.7;
    stroke-width: 12.0;
    stroke-linecap: square;
}


/**********************************************
* IC
*/

svg.stripboard g.components g.ic g.pins circle {
    fill: #b6b6b6;
}

svg.stripboard g.components g.ic > rect.body {
    stroke: #444444;
    fill: #666666;
    stroke-width: 3.0;
    stroke-linecap: square;
}


/**********************************************
* Resistors
*/

svg.stripboard g.components g.resistor > circle {
    fill: green;
    stroke: green;
    stroke-width: 2;
}

svg.stripboard g.components g.resistor > path.wire {
    stroke: gray;
    stroke-width: 5.0;
    stroke-linecap: round;
}

svg.stripboard g.components g.resistor > path.resistor-body {
    stroke: slateblue;
    stroke-width: 12.0;
    stroke-linecap: round;
}
